*.a
*.so
*.out

*.dll
*.lib
*.exe

*.log

*.pt
*.onnx
*.rknn

/build/

/web/dist/
/web/node_modules/

/web/package-lock.json

/.vscode/

/deps/sdl2/
/deps/ffmpeg/
/deps/opencv/
/deps/cpp-httplib/
/deps/onnxruntime/
